.logout.main-font
  .logout__main.box-center
    = render "shared/content_top"
    .btn-box
      .btn-box__user-new
        = link_to destroy_user_session_path, method: :delete, class:"black-link-btn text-line-none" do
          ログアウト
      .btn-box__back
        = link_to root_path, class: "gray-btn margin-left-40 text-line-none" do
          もどる