.impression-index{
  width: 60%;
  &__main{
    margin-top: 60px;
    &__book-title{
      margin-top: 60px;
      .book-top{
        font-size: 10px;
        color: #aaa;
      }
      .book-title{
        margin-top: 10px;
        font-size: 18px;
        @include long-text-set;
      }
    }
    &__box{
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      &__book{
        &__photo{
          background-color: #eee;
          @include height_width(200px, 200px);
          position: relative;
          margin-bottom: 20px;
          box-shadow: 0 8px 17px 0 rgba(0.2,0.2,0.2,0.2);
        }
        &__text{
          margin-top: 60px;
          .book-detail{
            @include height_width(30px, 350px);
            border-bottom:1px solid #ccc;
            margin-top: 15px;
            margin-left: 30px;
            line-height: 30px;
            &__top{
              text-align: right;
              font-size: 10px;
              width: 70px;
              color: #aaa;
            }
            &__content{
              margin-left: 40px;
            }
          }
        }
      }
      &__rating{
        .rating-title{
          @include height_width(40px, 200px);
          line-height: 40px;
          background-color: #039be5;
          color: #fff;
          border-radius: 20px;
          margin-top: 80px;
          margin-left: 150px;
        }
        .rating-point{
          @include height_width(40px, 100px);
          line-height: 40px;
          color: #039be5;
          margin-top: 40px;
          font-size: 40px;
          margin-left: 195px;
          &__main{
            margin-left: 20px;
          }
          &__sub{
            margin-left: 15px;
            line-height: 60px;
            font-size: 20px;
          }
        }
      }
    }
    .btn-box{
      height: 44px;
      margin-top: 85px;
    }
  }
}