.impression-show{
  width: 70%;
  &__main{
    margin-top: 60px;
    &__title{
      margin-top: 60px;
      &__box{
        &__book-title{
          .book-title{
            &__top{
              font-size: 10px;
            }
            &__title{
              margin-top: 10px;
              font-size: 18px;
              @include long-text-set;
            }
          }
        }
        &__note{
          width: 450px;
          margin-top: 30px;
          justify-content: space-between;
          .note-title{
            &__top{
              font-size: 10px;
              color: #aaa;
            }
            &__date{
              @include height_width(25px, 100px);
              line-height: 25px;
              border-radius: 13px;
              font-size: 12px;
              margin-top: 10px
            }
            &__reread-timing{
              @include height_width(25px, 175px);
              line-height: 25px;
              border-radius: 13px;
              font-size: 12px;
              margin-top: 10px;
            }
          }
        }
      }
    }
    &__box{
      margin-top: 60px;
      justify-content: space-between;
      &__note{
        .note-top{
          @include tag-set(80px, 20px);
          display: inline-block;
          color: #fff;
          background-color: black;
          font-size: 12px;
          border-radius: 4px;
          margin-top: 15px;
        }
        .note-content{
          @include height_width(250px, 450px);
          margin: 40px 20px 0 20px;
          text-align: left;
          line-height: 24px;
          font-size: 14px;
          border: 1px solid #ccc;
          border-radius: 4px;
          padding: 10px;
        }
        .note-content-empty{
          @include height_width(350px, 450px);
          margin-top: 30px;
          font-size: 20px;
        }
      }
      &__rating{
        .rating-title{
          @include height_width(40px, 200px);
          line-height: 40px;
          background-color: #039be5;
          color: #fff;
          border-radius: 20px;
          margin-top: 80px;
        }
        .rating-point{
          @include height_width(40px, 100px);
          line-height: 40px;
          color: #039be5;
          margin-top: 40px;
          font-size: 40px;
          display: flex;
          &__main-one{
            margin-left: 20px;
          }
          &__sub-one{
            margin-left: 15px;
            line-height: 60px;
            font-size: 20px;
          }
        }
      }
    }
    .btn-box{
      margin-top: 85px;
    }
  }
}