.content-top{
  &__book-edit{
    margin-left: 15px;
    line-height: 44px;
    height: 45px;
  }
  &__book-destroy{
    margin-left: 15px;
    line-height: 44px;
  }
  &__box{
    width: 390px;
    &__book-index{
      margin-left: 15px;
      line-height: 44px;
    }
  }
}