.content-headdr{
  &__main{
    @include height_width(70px, 100%);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
    position: relative;
    &__box{
      width: 70%;
      margin: 0 auto;
      &__list{
        position: absolute;
        bottom: 10px;
        &__title{
          font-size: 18px;
        }
      }
    }
  }
}