.content-headdr{
  &__main{
    @include height_width(70px, 100%);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
    position: relative;
    &__box{
      width: 60%;
      .mypage-title{
        position: absolute;
        bottom: 6px;
        font-size: 22px;
      }
      .mypage-list{
        position: absolute;
        left: 370px;
        bottom: 10px;
        font-size: 14px;
        &__link{
          margin-left: 20px;
        }
      }
      .book-info-title{
        position: absolute;
        bottom: 6px;
        font-size: 22px;
      }
      .book-info-list{
        position: absolute;
        left: 510px;
        bottom: 10px;
        font-size: 14px;
        &__link{
          margin-left: 20px;
          &__btn{
            cursor: pointer;
          }
          &__form{
            display: none;
            .black-screen{
              @include screen-center (0, 0, 0, 0);
              @include height_width(100vh, 100vw);
              background-color: rgba(0, 0, 0, 0.6);
              z-index: 3;
            }
            .form-box{
              @include screen-center(0, 0, 0, 0);
              @include height_width(270px, 480px);
              background-color: rgb(255, 255, 255);
              z-index: 3;
              border-radius: 6px;
            }
            .form-btn{
              @include screen-center(0, 0, 90px, 0);
              @include height_width(50px, 200px);
              z-index: 3;
              border-radius: 25px;
              cursor: pointer;
            }
            .back-btn{
              @include screen-center(90px, 0, 0, 0);
              z-index: 3;
            }
          }
        }
      }
    }
  }
}