.content-headdr{
  &__main{
    @include height_width(70px, 100%);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
    position: relative;
    &__box{
      width: 60%;
      .mypage-title{
        position: absolute;
        left: 260px;
        bottom: 6px;
        font-size: 22px;
      }
      .mypage-list{
        width: 500px;
        position: absolute;
        left: 365px;
        bottom: 10px;
        font-size: 14px;
        &__link{
          margin-left: 20px;
        }
      }
      .book-info-title{
        width: 270px;
        position: absolute;
        left: 250px;
        bottom: 6px;
        font-size: 22px;
      }
      .book-info-list{
        width: 500px;
        height: 21px;
        position: absolute;
        left: 500px;
        bottom: 10px;
        font-size: 14px;
        &__link{
          margin-left: 20px;
          &__btn{
            cursor: pointer;
          }
          &__form{
            display: none;
            .black-screen{
              @include screen-center (0, 0, 0, 0);
              @include height_width(100vh, 100vw);
              background-color: rgba(0, 0, 0, 0.6);
              z-index: 3;
            }
            .form-box{
              @include screen-center(0, 0, 0, 0);
              @include height_width(270px, 480px);
              background-color: rgb(255, 255, 255);
              z-index: 3;
              border-radius: 6px;
            }
            .form-btn{
              @include screen-center(0, 0, 90px, 0);
              @include height_width(50px, 200px);
              z-index: 3;
              border-radius: 25px;
              cursor: pointer;
            }
            .back-btn{
              @include screen-center(90px, 0, 0, 0);
              z-index: 3;
            }
          }
        }
      }
      .user-link{
        &__nickname-icon{
          position: absolute;
          left: 955px;
          bottom: 35px;
        }
        &__nickname{
          position: absolute;
          left: 980px;
          bottom: 34px;
          font-size: 18px;
        }
        &__followings-icon{
          position: absolute;
          left: 955px;
          bottom: 7px;
          font-size: 14px;
        }
        &__followings{
          position: absolute;
          left: 995px;
          bottom: 6px;
          font-size: 16px;
        }
        &__followers-icon{
          position: absolute;
          left: 1035px;
          bottom: 7px;
          font-size: 14px;
        }
        &__followers{
          position: absolute;
          left: 1075px;
          bottom: 6px;
          font-size: 16px;
        }
      }
      .follow-info-title{
        position: absolute;
        left: 260px;
        bottom: 6px;
        font-size: 22px;
      }
      .follow-info-list{
        position: absolute;
        left: 440px;
        bottom: 10px;
        font-size: 14px;
        &__link{
          margin-left: 20px;
        }
      }
    }
  }
}