.header{
  &__box{
    @include height_width(50px, 1020px);
    line-height: 50px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    &__logo{
      font-size: 20px;
    }
    &__content{
      display: flex;
      &__new-member{
        margin-right: 20px;
      }
    }
  }
}