.mypage-book-list{
  width: 85%;
  &__main{
    margin-top: 30px;
    justify-content: center;
    &__box{
      @include height_width(250px, 180px);
      margin: 10px;
      background-color: #fff;
      box-shadow: 0 8px 17px 0 rgba(0.2,0.2,0.2,0.2);
      &__content{
        .book-image{
          @include height_width(190px, 180px);
          background-color: rgb(247, 247, 247);
          position: relative;
        }
        .book-title{
          @include height_width(60px, 180px);
          @include photo-title-set;
          line-height: 60px;
          font-size: 16px;
          max-width: 160px;
          margin: 0 10px 0 10px;
        }
      }
    }
  }
  &__none{
    font-size: 24px;
    color: gray;
    height: 170px;
    line-height: 170px;
  }
}