.mypage-book-list{
  width: 90%;
  &__main{
    margin-top: 30px;
    justify-content: center;
    &__box{
      @include height_width(250px, 180px);
      margin: 10px;
      box-shadow: 0 8px 17px 0 rgba(0.2,0.2,0.2,0.2);
      position: relative;
      &__content{
        .book-status{
          position: absolute;
          right: 0;
          z-index: 2;
          @include already-read-tag(30px);
          &__title{
            position: absolute;
            top: -18px;
            left: -10px;
            width: 40px;
            @include already-read-title(12px);
          }
        }
        .book-shadow{
          @include height_width(250px, 180px);
          position: absolute;
          background-color: rgba(0, 0, 0, 0.2);
          z-index: 1;
        }
        .book-category-tag{
          @include height_width(18px, 52px);
          line-height: 18px;
          color: #fff;
          position: absolute;
          margin: 0;
          z-index: 2;
          font-size: 10px;
        }
        .book-image{
          @include height_width(190px, 180px);
          background-color: rgb(247, 247, 247);
          position: relative;
        }
        .book-title{
          @include height_width(60px, 180px);
          @include photo-title-set;
          line-height: 60px;
          font-size: 16px;
          max-width: 160px;
          margin: 0 10px 0 10px;
        }
      }
    }
  }
  &__none{
    font-size: 24px;
    color: gray;
    height: 170px;
    line-height: 170px;
  }
}