.reread-timing-list{
  &__main{
    width: 65%;
    margin-top: 80px;
    &__title{
      @include height_width(38px, 240px);
      line-height: 40px;
      font-size: 16px;
      border: 1px solid #4ba53a;
    }
    &__box{
      margin-top: 20px;
      justify-content: space-between;
      &__list{
        .category-big{
          @include height_width(430px, 330px);
          background-color: #fff;
          margin-top: 15px;
          margin-left: 40px;
          box-shadow: 0 8px 17px 0 rgba(0.2,0.2,0.2,0.2);
          position: relative;
          &__book-category-tag{
            @include height_width(25px, 72px);
            line-height: 25px;
            color: #fff;
            position: absolute;
            margin: 0;
            z-index: 1;
            font-size: 14px;
          }
          .book-status{
            position: absolute;
            right: 0;
            z-index: 1;
            @include already-read-tag(50px);
            &__title{
              position: absolute;
              top: -25px;
              left: -10px;
              width: 55px;
              @include already-read-title(16px);
            }
          }
          .book-shadow{
            @include height_width(430px, 330px);
            position: absolute;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 1;
          }
          &__photo{
            @include height_width(330px, 330px);
            background-color: rgb(247, 247, 247);
            position: relative;
          }
          &__text{
            @include height_width(100px, 330px);
            @include long-text-set;
            line-height: 100px;
            font-size: 16px;
            max-width: 290px;
            margin: 0 20px 0 20px; 
          }
        }
        .category-small{
          margin-left: 30px;
          &__box{
            @include height_width(200px, 150px);
            margin: 15px 30px;
            background-color: #fff;
            box-shadow: 0 8px 17px 0 rgba(0.2,0.2,0.2,0.2);
            position: relative;
            &__book-category-tag{
              @include height_width(18px, 52px);
              line-height: 18px;
              color: #fff;
              position: absolute;
              margin: 0;
              z-index: 1;
              font-size: 10px;
            }
            .book-status{
              position: absolute;
              right: 0;
              z-index: 1;
              @include already-read-tag(30px);
              &__title{
                position: absolute;
                top: -16px;
                left: -10px;
                width: 40px;
                @include already-read-title(12px);
              }
            }
            .book-shadow{
              @include height_width(200px, 150px);
              position: absolute;
              background-color: rgba(0, 0, 0, 0.2);
              z-index: 1;
            }
            &__photo{
              @include height_width(150px, 150px);
              background-color: rgb(247, 247, 247);
              position: relative;
            }
            &__text{
              @include height_width(50px, 150px);
              @include long-text-set;
              line-height: 50px;
              font-size: 16px;
              max-width: 130px;
              margin: 0 10px 0 10px;  
            }
          }
        }
      }
    }
  }
}