= render "shared/user_follow_header"
.followings-top.main-font
  - if @users.present?
    .followings-top__main.box-list.box-center
      = render partial: "shared/follow_user_list", locals: {users: @users}
  - else
    .followings-top__none.text-center
      登録がありません