= render "shared/content_header"
.mypage-top
  .mypage-top__main.box-center
    .mypage-top__main__box
      .user-box.box-center
        .user-box__photo
          %img.user-photo
        .user-box__name
          = current_user.nickname
      .user-book
        .user-book__category{style: "position: relative; height:50vh;width:40vw"}
          %canvas#categoryChart
          :javascript
            draw_category_graph();
  = render partial: "shared/book_list", locals: {books: @books}