= render "shared/content_header"
.single-category.main-font
  .single-category__main.box-center
    .single-category__main__box
      .single-category__main__box__title.box-center.font-bold
        落ち込んでいる時の一覧
      .single-category__main__box__books
        = render partial: "shared/book_timing_list", locals: {impressions: @timing_feel_downs}
