.content-headdr
  .content-headdr__main
    .content-headdr__main__box
      %ul.content-headdr__main__box__list
        %li.content-headdr__main__box__list__title.font-bold
          - if params[:controller] == "users" && params[:action] == "index"
            ユーザーマイページ・ジャンル別・また読みたい時別・評価別・読んでない本
          - elsif params[:controller] == "books" && params[:action] == "show"
            BOOK INFORMATION
          - elsif params[:controller] == "books" && params[:action] == "new" || params[:controller] == "books" && params[:action] == "create"
            本の登録
          - else 
            title
