.content-headdr
  .content-headdr__main
    .content-headdr__main__box
      %ul.content-headdr__main__box__list
        %li.content-headdr__main__box__list__title.font-bold
          - if params[:controller] == "users" && params[:action] == "index"
            ユーザーマイページ
          - elsif params[:controller] == "books" && params[:action] == "show"
            BOOK INFORMATION
          - else 
            title
