.header
  .header__box
    .header__box__logo
      = link_to "#", class:"text-line-none text-brack" do
        Book bank
    %ul.header__box__content
      %li.header__box__content__new-member
        = link_to "#", class:"text-line-none text-brack" do
          新規会員登録
      %li.header__box__content__login
        = link_to "#", class:"text-line-none text-brack" do
          ログイン
    