.search-book-list.box-center.main-font.box-list
  - if books.count == 0
    .search-book-list__none.box-center.text-center
      登録された本がありません
  - else
    - books.each do |book|
      - if book.status == "book_impression_exist"
        = link_to book_impressions_path(book), class: "search-book-list__main box-list text-line-none text-black book-hover" do
          = render "shared/search_book_list_link", book: book
      - elsif book.status == "book_impression_none"
        = link_to book_path(book), class: "search-book-list__main box-list text-line-none text-black book-hover" do
          = render "shared/search_book_list_link", book: book
    
