- users.each do |user|
  - if user.books.present?
    = link_to user_path(user), class: "user-index__main__box text-line-none" do
      .user-box 
        .user-box__photo
          %img.user-photo
        .user-box__name.text-black
          = user.nickname
        .user-book
          .user-book__category
            = pie_chart [['小説', user.books.category_novel.count], 
                        ['経営・戦略', user.books.category_management.count],
                        ['政治・経済', user.books.category_economy.count],
                        ['ファイナンス', user.books.category_finance.count],
                        ['IT', user.books.category_it.count],
                        ['自己啓発', user.books.category_motivation.count],
                        ['タレント本', user.books.category_talent.count],
                        ['その他', user.books.category_etc.count]], 
                        colors: ['rgba(209, 46, 31, 0.6)',
                                'rgba(246, 202, 6, 0.7)',
                                'rgba(187, 212, 26, 0.7)',
                                'rgba(0, 146, 80, 0.7)',
                                'rgba(0, 131, 174, 0.7)',
                                'rgba(50, 97, 171, 0.7)',
                                'rgba(143, 51, 150, 0.7)',
                                'rgba(182, 25, 114, 0.6)',],
                        donut: true,
                        legend: false,
                        width: "100px", height: "100px"
        .user-book__count.text-line-none.text-black
          = user.books.count
  - else
    .user-none.text-center
      登録された本がありません