.home-top.main-font
  .home-top__main
    .home-top__main__box
      .home-top__main__box__title.text-white
        BOOK BANK をはじめよう
      .home-top__main__box__text.text-white
        持っている本を登録して管理するアプリです。
      .home-top__main__box__text.text-white
        目に見える形で管理することによって思考を見える化することができます。
      .home-top__main__box__text.text-white
        自分に似ている人を探してみましょう。
      .home-top__main__box__start
        = link_to books_path, class: "text-white text-line-none start-btn" do
          はじめる
        = link_to books_path, class: "text-white text-line-none start-btn use-btn" do
          Appの使い方