.home-top.main-font
  .home-top__main
    .home-top__main__box
      .home-top__main__box__title.text-white
        BOOK BANK をはじめよう
      .home-top__main__box__text.text-white
        持っている本を登録して管理するアプリです。
      .home-top__main__box__text.text-white
        目に見える形で管理することによって思考を見える化することができます。
      .home-top__main__box__text.text-white
        自分に似ている人を探してみましょう。
      .home-top__main__box__start
        = link_to new_signup_path, class: "text-white text-line-none start-btn" do
          新規登録
        = link_to new_user_session_path, class: "text-white text-line-none start-btn margin-left-40" do
          ログイン
    