= render "shared/mypage_header", user: @user
.follow-book-show.main-font.box-center
  .follow-book-show__main
    = render "shared/content_top"
    = render "shared/book_tag", book: @book
    = render "shared/book_show_box"