/////////////////////////
/******テキスト関連*******/
/////////////////////////

/* アンダーラインなし */
.text-line-none{
  text-decoration: none;
}

/* 黒色 */
.text-brack{
  color: black;
}

/* 白色 */
.text-white{
  color: white;
}

/* 灰色 */
.text-gray{
  color: gray;
}


/* 中央寄せ */
.text-center{
  text-align: center;
}


/////////////////////////
/******フォント関連*******/
/////////////////////////

/* メイン */
.main-font{
  font-family: HelveticaNeueW01-55Roma,Helvetica,Arial,Verdana,"Noto Sans Japanese","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

/* 太字 */
.font-bold{
  font-weight: 600;
}

/////////////////////////
/********配置関連********/
/////////////////////////

.clearfix {
  :after {
    content: "";
    display: block;
    clear: both;
  }
}

/* 写真のセット */
.image-set{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}
