/////////////////////////
/******テキスト関連*******/
/////////////////////////

/* アンダーラインなし */
.text-line-none{
  text-decoration: none;
}

/* 黒色 */
.text-black{
  color: black;
}

/* 白色 */
.text-white{
  color: white;
}

/* 灰色 */
.text-gray{
  color: gray;
}

/* オレンジ色 */
.text-orange{
  color: #e59703;
}

/* 緑色 */
.text-green{
  color: #4ba53a;
}

/* 青色 */
.text-blue{
  color: #039be5;
}

/* 中央寄せ */
.text-center{
  text-align: center;
}

/* 小説色設定 */
.text-novel{
  color: $novel_color;
}

/* 経営戦略色設定 */
.text-management{
  color: $management_color;
}

/* 政治経済色設定 */
.text-economy{
  color: $economy_color;
}

/* ファイナンス色設定 */
.text-finance{
  color: $finance_color;
}

/* IT色設定 */
.text-it{
  color: $it_color;
}

/* 自己啓発色設定 */
.text-motivation{
  color: $motivation_color;
}

/* タレント本色設定 */
.text-talent{
  color: $talent_color;
}

/* その他色設定 */
.text-etc{
  color: $etc_color;
}

.error-text{
  font-size: 12px;
  color: #d30000;
}

.error-mini-text{
  font-size: 10px;
  color: #d30000;
}

/////////////////////////
/******フォント関連*******/
/////////////////////////

/* メイン */
.main-font{
  font-family: 'Open Sans', 'YuGothic_Family', 'YuGothic', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

/* 太字 */
.font-bold{
  font-weight: 600;
}

/* フォントサイズ20px */
.font-size-20{
  font-size: 20px;
}

/////////////////////////
/********配置関連********/
/////////////////////////

.clearfix {
  :after {
    content: "";
    display: block;
    clear: both;
  }
}

/* 写真のセット */
.image-set{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}

/* ユーザーイメージのセット */
.user-image-set{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
}

/* プロックの中央寄せ */
.box-center{
  margin: 0 auto;
}

/* ボックスの一覧 */
.box-list{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

/* プロックの中央寄せ */
.display-flex{
  display: flex;
}


/////////////////////////
/******フォーム関連*******/
/////////////////////////

/* 下線のみのフォーム */
.text-input{
  width: 100%;
  height: 30px;
  border-bottom:1px solid #ccc;
  border-right:none;
  border-left:none;
  border-top:none;
  &:focus{
    outline: none;
    border-bottom: 1px solid #4ba53a;
  }
}

/* note用のフォーム */
.note-area{
  width: 100%;
  height: 200px;
  border-radius: 4px;
  border:1px solid #ccc;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  &:focus{
    outline: none;
    border: 1px solid #4ba53a;
  }
}

/* セレクトフォームのプルダウン設定 */
.select-box{
  @include pull_down(100%);
  margin-top: 8px;
  &:focus{
    outline: none;
    border: 1px solid #4ba53a;
  }
}

/* 日付セレクトフォーム設定 */
.day, .month {
  @include pull_down(40px);
  margin-top: 8px;
}
.year {
  @include pull_down(60px);
  margin-top: 8px;
}

/* フォームのコンテンツタイトル */
.form-content{
  margin-top: 30px;
  margin-bottom: 4px;
  font-size: 10px;
}


/////////////////////////
/******ボタン関連*********/
/////////////////////////

/* 送信ボタン */
.submit-btn{
  @include btn-set(180px, 44px);
  color: #fff;
  background-color: #333333;
  font-size: 14px;
}

/* 白色ボタン */
.white-btn{
  @include btn-set(100px, 44px);
  display: inline-block;
  color: #333333;
  border:1px solid #333333;
  font-size: 14px;
}

/* 透明白色ボタン */
.start-btn{
  @include btn-set(140px, 44px);
  display: inline-block;
  color: #fff;
  border:1px solid #fff;
  font-size: 14px;
}

/* 灰色リンクボタン */
.gray-btn{
  @include btn-set(100px, 44px);
  display: inline-block;
  color: #333333;
  background-color: #ccc;
  font-size: 14px;
}

/* 黒色リンクボタン */
.black-link-btn{
  @include btn-set(180px, 44px);
  display: inline-block;
  color: #fff;
  background-color: #333333;
  font-size: 14px;
}

/* 白色リンクボタン */
.white-link-btn{
  @include btn-set(180px, 44px);
  display: inline-block;
  color: #333333;
  border:1px solid #333333;
  font-size: 14px;
}

/* 緑色リンクボタン */
.green-link-btn{
  @include btn-set(180px, 44px);
  display: inline-block;
  color: #4ba53a;
  border:1px solid #4ba53a;
  font-size: 14px;
}

/* ミニ緑色リンクボタン */
.mini-green-link-btn{
  @include btn-set(60px, 20px);
  display: inline-block;
  color: #4ba53a;
  border:1px solid #4ba53a;
  font-size: 12px;
}

/* プロフィール編集ボタン */
.profile-edit-btn{
  @include btn-set(45px, 25px);
  display: inline-block;
  color: #039be5;
  border:1px solid #039be5;
  font-size: 12px;
}

/* フォローするボタン */
.follow-in-btn{
  width: 80px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  border-radius: 22px;
  cursor: pointer;
  display: inline-block;
  color: #039be5;
  background-color: white;
  border:1px solid #039be5;
  font-size: 12px;
}

/* フォロー外すボタン */
.follow-out-btn{
  width: 80px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  border-radius: 22px;
  cursor: pointer;
  display: inline-block;
  color: white;
  background-color: #039be5;
  border:1px solid #039be5;
  font-size: 12px;
}

/* ミニオレンジ色リンクボタン */
.mini-orange-link-btn{
  @include btn-set(60px, 20px);
  display: inline-block;
  background-color: #e59703;
  border:1px solid #e59703;
  color: #fff;
  font-size: 12px;
}


/////////////////////////
/******共通設定関連********/
/////////////////////////

/* コンテンツタイトル設定 */
.content-title{
  font-size: 30px;
}


/////////////////////////
/******背景設定関連********/
/////////////////////////

/* 小説色設定 */
.background-novel{
  background-color: $novel_color;
}
.border-novel{
  border:2px solid $novel_color;
}

/* 経営戦略色設定 */
.background-management{
  background-color: $management_color;
}
.border-management{
  border:2px solid $management_color;
}

/* 政治経済色設定 */
.background-economy{
  background-color: $economy_color;
}
.border-economy{
  border:2px solid $economy_color;
}

/* ファイナンス色設定 */
.background-finance{
  background-color: $finance_color;
}
.border-finance{
  border:2px solid $finance_color;
}

/* IT色設定 */
.background-it{
  background-color: $it_color;
}
.border-it{
  border:2px solid $it_color;
}

/* 自己啓発色設定 */
.background-motivation{
  background-color: $motivation_color;
}
.border-motivation{
  border:2px solid $motivation_color;
}

/* タレント本色設定 */
.background-talent{
  background-color: $talent_color;
}
.border-talent{
  border:2px solid $talent_color;
}

/* その他色設定 */
.background-etc{
  background-color: $etc_color;
}
.border-etc{
  border:2px solid $etc_color;
}

/* オレンジ色設定 */
.background-orange{
  background-color:#e59703;
}

/* 緑色設定 */
.background-green{
  background-color:#4ba53a;
}


/////////////////////////
/*****マージン設定関連*****/
/////////////////////////

/* 左80px設定 */
.margin-left-80{
  margin-left: 80px;
}

/* 左40px設定 */
.margin-left-40{
  margin-left: 40px;
}

/* 左20px設定 */
.margin-left-20{
  margin-left: 20px;
}

/* 上100px設定 */
.margin-top-100{
  margin-top: 100px;
}

/* 上60px設定 */
.margin-top-60{
  margin-top: 60px;
}

/* 上60px設定 */
.margin-top-40{
  margin-top: 40px;
}

.padding-left-30{
  padding-left: 30px;
}

/////////////////////////
/*****ライン設定関連*****/
/////////////////////////

/* 下グレーライン設定 */
.border-bottom{
  border-bottom: 1px solid #ccc;
}

/* 上グレーライン設定 */
.border-top{
  border-top: 1px solid #ccc;
}
