/* 高さ幅指定 */
@mixin height_width($height, $width){
  height: $height;
  width: $width;
}

/* ヘッダー用位置調整 */
@mixin text_size_height($size, $height){
  font-size: $size;
  a {
    line-height: $height;
  }
}

