/********************************************/
/* 変数定義ファイル                            */
/********************************************/

/************************/
/* 色関連変数            */
/************************/

/* 小説色設定 */
$novel_color: rgba(209, 46, 31, 0.6);

/* 経営戦略色設定 */
$management_color: rgba(246, 202, 6, 0.7);

/* 政治経済色設定 */
$economy_color: rgba(187, 212, 26, 0.7);

/* ファイナンス色設定 */
$finance_color: rgba(0, 146, 80, 0.7);

/* IT色設定 */
$it_color: rgba(0, 131, 174, 0.7);

/* 自己啓発色設定 */
$motivation_color: rgba(50, 97, 171, 0.6);

/* タレント本色設定 */
$talent_color: rgba(143, 51, 150, 0.6);

/* その他色設定 */
$etc_color: rgba(182, 25, 114, 0.6);