.signup-new{
  height: calc(100vh - #{100px});
  &__main{
    width: 30%;
    margin-top:50px;
    .user-detail{
      &__test{
        color: rgb(211, 0, 0);
        font-size: 12px;
      }
    }
    .btn-box{
      margin-top: 50px;
    }
  }
}