.start-app{
  height: calc(100vh - #{400px});
  &__main{
    width: 30%;
    margin-top:120px;
    .btn-box{
      margin-top: 80px;
      display: flex;
      justify-content: space-between;
    }
  }
}