.mypage-top{
  &__main{
    width: 90%;
    margin: 0 auto;
    &__box{
      margin-top: 50px;
      .user-box{
        width: 60%;
        margin: 0 auto;
        display: flex;
        &__photo{
          .user-photo{
            width: 40px;
            height: 40px;
            background-color: #eee;
          }
        }
        &__name{
          line-height: 40px;
          font-size: 20px;
          margin-left: 20px;
        }
      }
      .user-book{
        &__category{
          margin: 50px auto 100px;
        }
      }
    }
  }
}