.read-count-books{
  &__main{
    width: 1200px;
    padding-top: 80px;
    &__box.active{
      display: block;
      &__title{
       width: 80%;
       font-size: 25px;
       .once-set-tab{
         margin-left: 10px;
         margin-top: 10px;
       }
       .twice-set-tab{
        margin-left: 10px;
        margin-top: 10px;
       }
       .three-set-tab{
        margin-left: 10px;
        margin-top: 10px;
       }
      }
      &__books{
        margin-top: 60px;
      }
    }
    &__box{
      display: none;
      &__title{
       width: 80%;
       font-size: 25px;
       .once-set-tab{
         margin-left: 10px;
         margin-top: 10px;
       }
       .twice-set-tab{
        margin-left: 10px;
        margin-top: 10px;
       }
       .three-set-tab{
        margin-left: 10px;
        margin-top: 10px;
       }
      }
      &__books{
        margin-top: 60px;
      }
    }
  }
}