.mypage-top{
  padding-bottom: 70px;
  &__main{
    width: 90%;
    &__box{
      .user-title{
        padding-top: 50px;
      }
      .user-box{
        margin-top: 30px;
        @include height_width(300px, 90%);
        justify-content: center;
        position: relative;
        &__user{
          &__icon{
            &__photo{
              @include height_width(92px, 92px);
              margin-top: 55px;
              margin-right: 50px;
              line-height: 300px;
              background-color: rgb(201, 201, 201);
              position: relative;
            }
            &__name{
              line-height: 200px;
              font-size: 24px;
            }
          }
          &__follow{
            &__followers{
              &__title{
                font-size: 12px;
              }
              &__count{
                font-size: 18px;
              }
            }
            &__followings{
              margin-left: 10px;
              &__title{
                font-size: 12px;
              }
              &__count{
                font-size: 18px;
              }
            }
            &__btn{
              margin-left: 20px;
              margin-top: 10px;
            }
          }
        }
        &__books{
          position: absolute;
          left: 80px;
          top: 60px;
          .user-books-title{
            position: absolute;
            left: 90px;
            top: -30px;
            font-size: 14px;
          }
          .user-books-text{
            width: 120px;
            position: absolute;
            left: 75px;
            top: 60px;
            font-size: 18px;
            color: gray;
          }
          .user-books-count{
            width: 120px;
            position: absolute;
            left: 75px;
            top: 78px;
            font-size: 40px;
          }
        }
        &__book-none{
          line-height: 300px;
          font-size: 24px;
          margin-left: 250px;
        }
      }
      .user-book-list{
        &__title{
          font-size: 30px;
        }
      }
    }
  }
}