.mypage-top{
  background-color: rgb(236, 236, 236);
  padding-bottom: 70px;
  &__main{
    width: 90%;
    &__box{
      .user-box{
        @include height_width(300px, 90%);
        padding-top: 50px;
        justify-content: center;
        position: relative;
        &__icon{
          &__photo{
            @include height_width(90px, 90px);
            margin-top: 110px;
            margin-right: 50px;
            line-height: 300px;
            background-color: #fff;
          }
          &__name{
            line-height: 300px;
            font-size: 24px;
          }
        }
        &__books{
          position: absolute;
          left: 80px;
          top: 50px;
          .user-books-text{
            width: 120px;
            position: absolute;
            left: 75px;
            top: 60px;
            font-size: 18px;
            color: gray;
          }
          .user-books-count{
            width: 120px;
            position: absolute;
            left: 75px;
            top: 78px;
            font-size: 40px;
          }
        }
      }
      .user-book-list{
        &__title{
          font-size: 30px;
        }
      }
    }
  }
}