.single-category{
  &__main{
    width: 90%;
    padding-top: 80px;
    &__box{
      &__title{
       width: 80%;
       font-size: 25px;
       .link-btn{
         line-height: 30px;
         margin-left: 5px;
       }
      }
      &__books{
        margin-top: 60px;
      }
    }
  }
}